$desktop: 1300px;
$tablet: 992px;
$mobile: 768px;

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main {
    flex: 1 0 auto;
    margin: 30px 0 50px;
  }
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: $desktop) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: $tablet) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: $mobile) {
  .container {
    max-width: 95%;
  }
}
