$small-mobile: 400px;

.types {
  &__name {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 25px;
    font-weight: 700;
    text-align: center;
    border: 1px solid rgb(255, 162, 0);
    color: rgb(255, 162, 0);
    cursor: pointer;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    visibility: hidden;

    &:checked ~ .types__name {
      background: rgb(255, 162, 0);
      color: #fff;
    }
  }
}

@media screen and (max-width: $small-mobile) {
  .types__name {
    padding: 5px 15px;
  }
}
